:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  color: var(--c-text);
  background: var(--c-page-bg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--c-body-bg);
}

#root {
  min-height: 100vh;
}
